.global-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    width: 100%;
    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    main {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: center;
    }
    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}